.sidebar{
	position:fixed;
	display:block;
	top:50px;
	bottom:0;
	background-color:#C0C0C0;
	margin:15px;
	
}
body{
	padding-top:50px;
	
}
.main{
	padding-top:50px;
	padding-left:30px;
	position:fixed;
	display:block;
	top:0px;
	bottom:0;
	
}


