<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<!-- BootStrapの設定 -->
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
		<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<!-- CSSの読み込み -->
		<link th:href="@{/css/signup.css}" rel="stylesheet"></link>
		<title>SignUp</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1 class=text-center>ユーザー登録画面</h1>
			</div>
			<form method="post" action="/signup" th:object="${signupForm}"><!-- 転送方法がpost,送信されるデータの場所が/signup signupFormクラスからオブジェクトを受け取る -->
				<table class="table table-bordered table-hover"><!-- tableで表を作れる -->
				<!-- ユーザーIDの入力エリア -->
				<tr>
					<th class="active">ユーザーID</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('userId')}?'has-error'"><!-- th:classappendでCSSの追加、?'has-error'でtrueかfalseの判定、trueの場合テキストボックスが赤くなる -->
							<input type="text" class="form-control" th:field="*{userId}" /> <!-- th:fieldで入力された文字をuserIdと結びつける -->
		　　　　　　　　　　　　　　　　<!-- 個別エラーメッセージの表示 -->
							<span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>				
						</div>
					</td>
				</tr>
				<!-- パスワードの入力エリア -->
				<tr>
					<th class="active">パスワード</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-error'">
							<input type="text" class="form-control" th:field="*{password}" />
							<!-- 個別エラーメッセージの表示 -->
							<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span><!-- th:ifでpasswordがhasErrorだった時、パスワードのエラーメッセージを表示 -->
						</div>
					</td>
				</tr>
				<!-- ユーザー名の入力エリア -->
				<tr>
					<th class="active">ユーザー名</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('userName')}?'has-error'">
							<input type="text" class="form-control" th:field="*{userName}" />
							<!-- 個別エラーメッセージ -->
							<span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
						</div>
					</td>
				</tr>
				<!-- 年齢の入力エリア -->
				<tr>
					<th class="active">年齢</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('age')}?'has-error'">
							<input type="text" class="form-control" th:field="*{age}" />
							<!-- 個別エラーメッセージの表示 -->
							<span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</span>
						</div>
					</td>
				</tr>
				<!-- 性別の入力エリア -->
				<tr>
					<th class="active">性別</th>
					<td>
						<div class="form-group">
						<!-- ラジオボタンの実装 -->
							<div th:each="item :${radioGender}">
								<input type="radio" name="radioGender" th:text="${item.key}" th:value="${item.value}" th:field="*{gender}"></input>
							</div>
						</div>
					</td>
				</tr>
				</table>
				<!-- エラーメッセージの一覧表示 -->
				<ul>
					<li th:each="error : ${#fields.detailedErrors()}">
						<span th:text="${error.message}">Error message</span>
					</li>
				</ul>
				<!-- ユーザー登録ボタン -->
				<button class="btn btn-success" type="submit">ユーザー登録</button>
			</form>
		</div>
	</body>
</html>